<div class="fondo-bg">
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <!--Seccion izq de la pagina-->
        <app-carrucel-imagenes></app-carrucel-imagenes>
        <div class="row">
          <div class="col col-md-6">
            <app-columna></app-columna>
          </div>
          <div class="col col-md-6">
            <app-nota-destacada></app-nota-destacada>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <!--Seccion derecha de la pagina -->
        <app-noticia></app-noticia>
        <app-noticia></app-noticia>
        <app-noticia></app-noticia>
        <app-noticia></app-noticia>
        
      </div>
    </div>
  </div>
</div>